*{
    margin: 0;
    padding: 0;
}

$primaryTextColor: #000000;
$secondaryTextColor: #ccc;

.main_block {
    display: flex;
    flex-direction: column;
    align-items: center;    

    background-color: #f4f4f4;
    font-family: "Montserrat", sans-serif;

    padding-top: 200px;
    padding-bottom: 60px;
    h1 {
        color: #d2691e;
        font-size: 60px;
        font-weight: 200;
        margin-bottom: 35px;
    }
    h6{
        text-align: center;
        color: $secondaryTextColor;
        font-size: 14px;
        font-weight: 200;
        margin-top: 12px;
    }
    span {
        color: #a4a4a4;
    }
    
}

.todo{
    width: 500px;
    background-color: #fdfdfd;
    box-shadow: 0 4px 8px 0 rgb(34 60 80 / 20%);
    border-radius: 2px;

    &-item{
        &-circle{
            width: 30px;
            height: 30px;
            border-radius: 50%;
            border: 1px solid #ccc;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
        }
    }
    &-filterBar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding:  22px 14px;

        &-itemsCount{
            font-size: 15px;
        }
        &-showWhat{
            font-size: 14px;
            button{
                border: none;
                background-color: transparent;
                padding-left: 6px;
                padding-right: 6px;

                font-family: "Montserrat", sans-serif;
                font-size: 14px;
                cursor: pointer;
            }
        }
        &-clearCompleted{
            font-size: 15px;
            cursor: pointer;
            &:hover{
                text-decoration: underline;
            }
        }
    }
}

#activeFilter {
    border: 1px solid grey;
    border-radius: 3px;
}



